.error-page {
  text-align: center;
  padding: 4rem 1rem;
}

.error-code {
  font-size: 6rem;
  font-weight: bold;
  color: #ff6b6b;
  margin-bottom: 0.5rem;
}

.error-message {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.error-description {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #555;
}

.error-home-btn {
  display: inline-block;
  padding: 0.7rem 1.4rem;
  background: rgb(255, 214, 214);
  color: rgb(0, 0, 0);
  border-radius: 6px;
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.2s ease;
}

.error-home-btn:hover {
  background-color: #357ac9;
}