/* html, body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.HPNav {
    width: 100vw;
} */

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.HPNav {
    width: 100%;
}