/* .HPNav {
    
} */

.carousel {
    margin-bottom: 15%;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10em;
    /* border-bottom: .25em solid; */
    /* border-bottom-color: rgba(181, 175, 175, 0.873); */
    /* padding-bottom: .5em; */
}

.box {
    background: linear-gradient(to bottom, rgb(0, 0, 0) 90%,
            rgba(0, 0, 0, 0.755) 100%,
            rgb(0, 0, 0) 100%);
}

.title {
    display: flex;
    justify-content: center;
}

.logonav {
    margin-top: 0%;
    width: 70%;
}

.kart {
    display: flex;
}

.kartnav {
    display: flex;
    width: 2em;
    margin-left: -3.9em;
    margin-bottom: 5.9em;
}

.btn-container {
    all: unset;
    color: black;
    margin-right: -5em;
    margin-left: 1em;
    margin-bottom: 6em;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    size: 4em;
}

.line {
    display: column;
    align-items: center;
    padding: .1em;
    margin: .13em;
    width: 1.5em;
    border-radius: 10%;
    background: rgba(255, 255, 255, 0.925);
}

.dropdown-btn {
    display: inline-block;
    position: relative;
}

.dropdown-menu {
    display: none;
    /* Hidden by default */
    position: absolute;
    margin-top: 2em;
    margin-left: .3em;
    top: 100%;
    background-color: #ffffff;
    border: 1px solid #bfbcbc;
    border-radius: .19em;
    z-index: 1000;
}

.dropdown-menu ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.dropdown-menu li {
    padding: .25em 1em;
    position: relative;
}

.dropdown-menu a {
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.dropdown-btn .dropdown-menu {
    display: block;
    /* Show the menu if isDropdownOpen is true */
}