.small-gifts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.product-card {
    width: 10em;
    height: 20em;
    /* border-top-left-radius: .5em;
    border-top-right-radius: .5em; */
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: rgb(255, 214, 214);
    margin: 1em;
    color: rgb(66, 66, 66);
    font-family:'Courier New', Courier, monospace;
}

.image-cont {
    height: 10em;
    width: 10em;
}

.price {
    font-size: 1.35rem;
    margin-top: .1em;
}

.description {
    font-size: smaller;
    margin-left: .5em;
    font-weight: 600;
}

.add-btn {
    margin-top: .5em;
    padding: .4em .8em;
    background-color: rgb(28, 28, 28);
    border: none;
    border-radius: .3em;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

.add-btn:hover {
    background-color: rgb(19, 19, 19);
    transform: scale(1.05);
}